<h2>About Game Center</h2>

<p>The Game Center finds its way onto the Web! This is a Rails learning project for the <a href="http://vikingcodeschool.com">Viking Code School</a>.  It started as a command-line Ruby games project with Connect Four as well as other games.  It is now a Rails application though some of the games are externally linked to Sinatra applications, also built for Viking.</p>

<h2>About the Developer</h2>
<p>Sia learned Fortran 90 in college, and then didn't pick up programming again until the advent of MOOCs. After casually playing with Python and JavaScript, she completed a beginner code-immersion bootcamp in New Orleans. Having determined that was not enough, she also signed up for the Viking Code School</p>

<p>Learn more about Sia Karamalegos and her projects on her <a href="http://siakaramalegos.github.io/" target="_blank">portfolio page</a>.</p>

<h3>See the Source Code</h3>
<a href="https://github.com/siakaramalegos/assignment_rails_connect4"><%= fa_icon('code-fork', text: 'Fork on GitHub') %></a>

<h3>Follow Sia</h3>
<ul class="list-inline">
  <li><a href="https://github.com/siakaramalegos" target="_blank"><i class="fa fa-2x fa-github"></i></a></li>
  <li><a href="https://www.linkedin.com/in/karamalegos" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a></li>
  <li><a href="https://twitter.com/thegreengreek" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>
</ul>


