<h1>Welcome to Game Center!</h1>
<p>Play your favorite games online...</p>

<h2>Connect Four</h2>
<%= link_to 'Play Now!', root_path, class: 'btn btn-primary' %>

<h2>Rock Paper Scissors Lizard Spock</h2>
<%= link_to 'Play Now!', rockpaperscissors_path, class: 'btn btn-primary' %>

<h2>Blackjack</h2>
<a href="https://hitmebaby.herokuapp.com/" class='btn btn-primary' target='_blank'>Play Now!</a>
